<h2>Non Profits currently taking Donations</h2>

<ul>
  <% @organizations.each do |organization| %>
    <li><%= link_to "#{organization.name}", organization_path(organization) %></li>
  <% end %>
</ul>
