<h1><%= @organization.name %></h1>
  <br />
  <br />

  <div class="well">
    <p>
       <%= @organization.description %>
    </p>
  </div>

  <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container">
      <%= link_to "Edit Organization", edit_organization_path, :class => "navbar-text navbar-left" %>
    </div>
  </div>
